@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>Email send</h1>
</hgroup>
<div>
    <h4>Please check your email addres. If you didnt receive the message contact support</h4>
</div>
	
